.data-point-template {
    background-color: #14365D;
}

.data-template-icon {
    background-color: #FCC92C;
    color: white;
}

.select-point {
    max-width: 100%;
    /* background-color: black !important; */
}

p {
    margin-bottom: 0;
}

.datapoint-icon {
    font-size: 1.4rem;
    padding: 1rem 0.5rem 0.96rem 0.5rem;

}

.cursor {
    border-radius: 10px;
    cursor: pointer;
    /* box-shadow: 2px 5px 15px rgba(20, 54, 93, 0.07), 0px -1px 15px rgba(252, 201, 44, 0.1); */
}

.selected-data {
    color: #555;
    background-color: #d62828;

}

.data-box {
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.15)
}