@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

.div {
    width: 100%;
}

.backgroud-right {
    padding-top: 1rem;
    box-shadow: 0px 3px 15px rgba(10, 01, 10, 0.02);
    overflow-x: hidden;
}

.second-conatiner {
    background-color: #FFFFFF;
    margin-right: 1.6rem;
    margin-top: 7.2rem;
    border-radius: 10px;
}

.overflow {
    overflow-x: hidden;
    height: 34rem;
    scroll-behavior: smooth;

}

.font {
    /* font-family: 'Poppins', sans-serif; */
    font-weight: normal;
    font-size: 1.5rem;
    margin-left: 2.5rem;
}

.search-icon {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    fill: black;
}

.search-bar {
    height: 2.3rem;
    /* flex: 0 0 50%; */
    padding-right: 1.4rem;

}

.input:focus {
    color: #FCD04f;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;

}

p.total {
    font-size: 1.2rem !important;
    margin-bottom: 0;
}

.margin-left {
    margin-left: auto;
}