@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500&family=Signika+Negative:wght@300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

.primary-inputs {
    background-color: #F6F6F6 !important;
    outline: none !important;
    font-size: 13px !important;
}

.primary-btns {
    background-color: #14365D !important;
}

.header-before {
    position: relative;
    margin: 1rem 0 0 2.4rem;
}

.header-before::before {
    content: '';
    width: 15px;
    height: 30px;
    background-color: #FFBC99;
    border-radius: 3px;
    position: absolute;
    left: -26px;
    top: -4px;

}