* {
    font-family: 'Poppins', sans-serif;
}

.primary-inputs {
    background-color: #F6F6F6 !important;
    outline: none !important;
    font-size: 13px !important;
}

.primary-btns {
    background-color: #14365D !important;
}

.header-before {
    position: relative;
    margin-left: 2%;
}

.header-before::before {
    content: '';
    width: 16px;
    height: 2.2rem;
    background-color: #FFBC99;
    border-radius: 3px;
    position: absolute;
    left: -30px;
    top: -3px;

}