.container-filter {
    position: absolute;
    top: 0;
    /* overflow: hidden; */
}

.round {

    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.1);
}

.input-text-date:focus:active {
    outline: none;
    box-shadow: none;
}

.input-text-date {
    color: #999 !important;
    outline: none;
    font-size: 1.4rem;
    background-color: #F4F4F4;
    box-shadow: none;
    border: none;

}

.container-padding {
    padding: 2rem 15rem 2rem 2rem;
}

.input-text-date::placeholder {
    font-size: 1.2rem;
    font-family: 'Inter',
        sans-serif;
    color: #aaa;
    letter-spacing: 0.1px;
    padding: 0 0.5rem;

}

.date-icon {
    display: inline-block;

}

.input-text label {
    background-color: #F4F4F4;
    border-radius: 8px;

}

.input-text svg {
    width: 5rem;
    height: 3rem;
}

.date-label {
    font-family: 'Inter', sans-serif;
    font-weight: 400;

}